/* Main */
main{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    text-align: center;
}
thead{
    background-color: black;
    color: white;
    font-size: 1.2rem;
}
th{
    background-color: darkgrey;
    padding: .5rem;
}

th:nth-child(1){
    background-color: black;
}
td{
    padding: .5rem;
    border: 1px solid lightgrey;
}
td:first-child{
    font-weight: bold;
}
tr:nth-child(even){
    background-color: rgb(227, 227, 227);
}

caption{
    font-size: .8rem;
    caption-side: bottom;
}