body{
    background-color: rgb(200, 200, 200);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    text-align: center;
}
h1 {
    grid-column: 1/3;
}
h2{
    grid-row: 2/3;
}




/* Descendant CSS */
#descendant{
    background-color: rgb(0, 0, 0);
    color: white;


    margin-right: 30px;
    line-height: 2em;
    grid-column: 1/2;
}

#descendant p{
    background-color: rgb(69, 141, 157);
    color: black;
}

#descendant p div{
    background-color: aquamarine;
}



/* Child CSS */
#child{
    background-color: black;
    color: white;



    line-height:2em;
    margin-left: 30px;
}

#child > p{
    background-color:rgb(69, 141, 157);
    color: black;
}


.lower{
    grid-row: 4/5;
    margin-top: 50px;
}



/* Adjacent Sibling Selector CSS */
#adjacent{
    background-color: black;
    color: white;


    line-height: 2em;
    grid-column: 1/2;
    margin-right: 30px;
}

#adjacent section + p{
    background-color: rgb(69, 141, 157);
    color: black;


    
    line-height: 2em;
    grid-column: 1/2;
}



/* General Sibling Selector CSS */
#general{
    background-color: black;
    color: white;


    grid-column: 2/3;
    grid-row: 5/6;
    margin-left: 30px;
    line-height: 2em;
}

#general section ~ p{
    background-color: rgb(69, 141, 157);
    color: black;
}


