
  @import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

header{
    text-align: center;
    background-color: #b7b7a4;
    color: black;
    line-height: 10em;
}
main{
    margin-left: 20px;
    font-size: 1.2em;
}
#purpose{
    max-width: 850px;
}

.blocks{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
}
#color1{
    background-color: #CB997E;
    width: 150px;
    height: 150px;
}
#color2{
    background-color: #b7b7a4;
    width: 150px;
    height: 150px;
}
#color3{
    background-color: #6b705c;
    width: 150px;
    height: 150px;
}
#color4{
    background-color: #ffe8d6;
    width: 150px;
    height: 150px;
}

.heading-font{
    font-family: 'Lora';
}
.body-font{
    font-family: 'Open Sans';
}
img{
    width: 400px;
    margin-bottom: 30px;
}