@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

/* Root */
  
:root{
    --text-color: black;
    --background-color: #b7b7a4;
    --hover-background: #6b705c;
    --hover-text: #ffe8d6;
    --heading-font: 'Lora';
    --body-font: 'Open Sans';
}
  /* Nav */
nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    max-width: 640px;
}
  
nav #links {
    display: none;
}

nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
nav a.icon {
    background: black;
    max-width: 640px;
}

nav #big-nav{
    display: none;
}
    /* HOME PAGE */

  
  /* Main */
#home-main{
    background-color: var(--background-color);
}
#home-main #dark-mode{
    color: var(--background-color);
    background-color: var(--text-color);
    position: absolute;
    top: 30px;
    right: 30px;
}
#home-main #hero-holder{
    text-align: center;
    position: relative;
}
#hero-holder h1{
    position: absolute;
    font-family: var(--heading-font);
    font-size: 3em;
    top: 100px;
    left: 370px;
    width: 700px;
}
#home-main #join{
    color: var(--hover-text);
    background-color: var(--hover-background);
    position: absolute;
    bottom: 100px;
    right: 41%;
    width: 100px;
    height: 2em;
    border-radius: 8px;

}

#home-main #current-events, #weather-card, #spotlight-1, #spotlight-2, #spotlight-3{
    width: 200px;
    border: 1px solid gray;
    height: 300px;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 10px;
}
#home-main #temp-div{
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    max-width: 640px;
}
#home-main img{
    margin-top: 5px;
    max-width: 100%;

}

/* Footer */
footer{
    border: 1px solid black
}