@media screen and (min-width: 640px) {
    /* Nav */
    nav{
        max-width: 100%;
    }
    nav .icon{
        display: none;
    }
    nav #big-nav{
        display: flex;
        justify-content: right;
        line-height: 2em;
    }
    nav #big-nav #big-links a{
        width: 50px;
    }
        /* Home Page */

    /* Main */
    #home-main #temp-div{
        display: flex;
        max-width: 100%;
        justify-content: left;
    }
    #home-main #join{
        width: 150px;
        height: 3em;
        bottom: 100px;
        right: 45%;
    }
    /* Discover */
    #discover-main{
        display: grid;
        grid-template-columns: 1fr 3fr;
        text-align: center;
        justify-items: center;
    }
    #discover-main #sidebar{
        margin-left: 50px;
        margin-top: 20px;
    }
    #discover-main #picture-container{
        text-align: center;
        border-left: solid black;
        width: 80%;
        margin-top: 10px;
    }
    #discover-main #picture-container img{
        height: 600px;
        width: 800px;
        margin-top: 10px;
    }
    #discover-main #picture-container img:hover{
        width: 825px;
        height: 625px;
        transition: .5s;
    }
    #discover-main #picture-container img:not( :hover){
        transition: .5s;
    }
}