@media screen and (min-width: 640px){
    #home-main h1{
        top: 20px;
        left: 10%;
    }
    #home-main #join{
        height: 3em;
    }
    nav a.icon{
        width: 980px;
    }
    #home-main #dark-mode{
        top: -60px;
        right: 0px;
    }
    #discover-main #picture-containter img{
        width: 400px;
    }
}